<%= @messages.each do |messages| %>
    <div class="panel">
        <div class="panel-body">
            <%= image_tag avatar_url(message.user), class:"img-circle avatar-small" %>
            <stong><% message.user.fullname %></stong>
            <span class="pull-right"><%= message.created_at %></span>
            <br>
            <div class="row-space-2">
                <%= message.content %>
            </div>
        </div>
    </div>
<% end %>